html {
	height: 50%;
	width: 50%;
  }
  body {
    background-image: url('rose.jpg');
    background-size: 100%;
  }
  header{
    height: 0%;
    width: 20%;
  }
  button{
    width: 50%;
  }
  .modal-image { 
   height: 3000%;
   width: 3000%;
 }

